<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bu.css">
    <title>devant iut</title>
</head>
<body>

<div class="main">
    
    <header>
        <a class="retour">
            <span onclick="history.back()">Retour</span>
        </a>
    </header>

    <img id='perso' src='../static/images/perso/perso2.png'>

    <div class="bulle-texte" id="conversation">
        <div class="texte-interne">
            <span>Nous voilà dans la BU ! <br>Ici tu peux faire des emprunts de livres,<br> de matériels mais également travailler <br>au calme ou encore imprimer des documents...

            </span>
        </div>
    </div>
    <a href="haut.escalier.html" class="link">
        <span>Retour à l'escalier</span>
    </a>

</div>

<script>

document.querySelector('.link').addEventListener('click', function(e) {
    e.preventDefault();
    document.querySelector('.main').classList.add('fade-out');
    setTimeout(function() {
        window.location.href = document.querySelector('.link').href;
    }, 1000);
});

document.querySelector('.retour').addEventListener('click', function(e) {
    console.log('je suis dans la fonction qui clique sur le retour')
    e.preventDefault();
    document.querySelector('.main').classList.add('fade-in');
    setTimeout(function() {
        console.log(document.querySelector('.retour').href)
        window.location.href = document.querySelector('.retour').href;
    }, 1000);
});

</script>

</body>
</html>
