<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/devant.amphi.css">
    <title>devant iut</title>
</head>
<body>

<div class="main">
    
    <header>
        <a class="retour">
            <span onclick="history.back()">Retour</span>
        </a>
    </header>

    <img id='perso' src='../static/images/perso/perso3.png'>

    <div class="bulle-texte" id="conversation">
        <div class="texte-interne">
            <span> <br>ça c'est une plante verte <br> de compétition !!</span>
        </div>
    </div>
    <a href="amphi.html" class="link">
        <span>ENTREZ</span>
    </a>

</div>

<script>